/Aritimeticos.class
/Atribuicao.class
/DesafioLogico.class
/Desafio_operadores_aritimeticos.class
/Logicos.class
/Relacionais.class
/Ternario.class
/TiposStringEquals.class
/Unario.class
/Desafio_IMC.class
/Desafio_calculadora.class
